.container {
  box-shadow: 0 0 15px black;
  padding: 50px;
  border-radius: 25px;
  min-width: 200px;
  max-width: 1400px;
  background: #1a152b;
}
.container h2 {
  position: relative;
  bottom: 35px;
  color: white;
  font-size: 35px;
}
.container2 {
  position: relative;
  bottom: 30px;
}

.Input-1 {
  padding: 10px;
  border: 1px solid rgb(8, 200, 187);
  outline: non;
  border-radius: 10px;
  background: #0f121a;
  color: white;
}

.Input-1:hover {
  border: none;
}

.btn-1 {
  padding: 10px 20px;
  margin-left: 15px;
  border: 1px solid rgb(8, 200, 187);
  outline: none;
  border-radius: 10px;
  background: #244896;
  color: white;
}

.btn-1:hover {
  border: none;
}
.store-1 {
  background: #2a2346;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid lightslategray;
  outline: none;
  width: 80%;
  color: white;
}
.store-1 span {
  color: white;
}

.store-1:hover {
  border: none;
}

.Edit-btn {
  padding: 10px 20px;
  margin-left: 15px;
  border: 1px solid yellow;
  outline: none;
  border-radius: 10px;
  background: #2a2346;
  color: white;

  cursor: pointer;
}
.Edit-btn:hover {
  border: 1px solid rgb(8, 200, 187);
}

.Cancel-btn {
  padding: 10px 20px;
  margin-left: 15px;
  border: 1px solid rgb(8, 200, 187);
  outline: none;
  border-radius: 10px;
  background: #0f121a;
  color: white;
  cursor: pointer;
}

.Cancel-btn:hover {
  border: 1px solid red;
}

.Delete-btn {
  padding: 10px 20px;
  margin-left: 15px;
  border: 1px solid red;
  outline: none;
  border-radius: 10px;
  background: #2a2346;
  color: white;
  cursor: pointer;
}

.Delete-btn:hover {
  border: 1px solid rgb(8, 200, 187);
}
